.about-container {
  text-align: center;
  padding: 50px 20px;
  background: #fdfdfd;
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.about-description {
  margin: 20px auto;
  max-width: 750px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.about-buttons {
  margin: 20px 0;
}

.btn-primary {
  background-color: #ff914d;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 6px;
  margin-right: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: #ff7326;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid #ff914d;
  color: #ff914d;
  padding: 10px 22px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #ff914d;
  color: #fff;
}

.about-image {
  margin-top: 40px;
}

.about-image img {
  /* max-width: 100%; */
  height: 350px;
  width: 600px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
